<div class="dataInput">
    <label class="dataInput__label" for="{{name}}">{{labelText}}</label>
    <input class="dataInput__input" 
        type={{type}} 
        name={{name}} 
        id={{name}}
        minlength={{minTextSize}} 
        maxlength={{maxTextSize}} 
        placeholder="{{placeholder}}"
        value={{value}}
    >
</div>
