<a href="#" class="pictureButton {{classElem}} {{classModif}}" name="{{name}}">
  <img class="pictureButton__image {{picStyleClass}}" src="{{#if picSrc}}{{picSrc}}{{else}}{{emptyAvatar}}{{/if}}" alt="picture-button">
</a>
